.icons {
  display: flex;
  padding: 1.5rem 0;
  .icon-holder {
    margin-right: 1rem;
    .icon {
      font-size: 2.8rem;
      color: var(--color-text);
      transition: all 0.2s ease-in-out;
      &:hover {
        color: #5296da;
      }
    }
  }
}
