.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 10rem;
  flex-wrap: wrap;
  .btn-port {
    padding: 0.6rem 2rem;
    background-color: #0381ff5b;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    color: white;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    &:hover {
      background-color: var(--color-blue);
    }
  }
  .active {
    background-color: var(--color-blue);
  }
  @media screen and (max-width: 75rem) {
    margin: 2rem 5rem;
  }
  @media screen and (max-width: 56.25rem) {
    margin: 2rem 2rem;
  }
}
